/* -- Tags --*/
body {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
 
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
  line-height: 2;
}

p {
  color: #050e1f;
}

nav {
  border-bottom: 1px solid #f1d67f;
}

.container-fluid {
  padding: 0;

}

.cta-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cta-buttons .btn {
  width: 25%;
}

#header-text-nav-container {
  background-color: #050e1f;
}

#main {
  padding: 0;
}

.no-sidebar-full-width.box-layout #main,
.no-sidebar.box-layout #main {
  background-color: #050e1f;
}

.inner-wrap {
  background-color: #050e1f;
  padding-left: 20px
}

.main-content-section {
  padding: 0;
}

.type-post .entry-title,
.type-page .entry-title {
  font-size: 34px;
  line-height: 1.2;
  padding: 0;
  color: #f1d67f;
}

/* Containers and Sections */


.colored-section {
  background-color: #050e1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f1d67f;
  border-top: 1px solid #f1d67f;
}

.white-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* NavBar */
.navbar {
 
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f1d67f;
}
.navbar-nav {
  list-style: none;
  width: 100%;
  align-items: center;
  color: #f1d67f;
  padding: 0 5%
}

.navbar-brand {
  font-family: 'Montserra', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 5px;
  list-style: none;
}
.nav-item:first-child {
 margin-right: auto;
}

.logo {
 position: static;
 left: 0%;
}

.nav-link {
  font-size: 1.2rem;
 color: #fff;

}

/* --- Seção Informativa Section---*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #050e1f, transparent);
  animation: titleAnimation 2s ease forwards;
 
  opacity: 0;
  
 
}

.title-info {
  z-index: 1;
  width: 50%;
  text-align: center;

}

.informativo {
  text-align: left;
  color: #fff;
  width: 50%;
  padding-left: 100px;
  font-size: 1.25em;
  padding-bottom: 2em;

}
.informativo-img {
  width: 50%;
  height: 50%;
}

.informativo-subtitulo {
  padding-bottom: 1em;

}



ul .informativo-list::before {
  content: "\203A";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f1d67f;
  /* Change the color */

  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #050e1f;
}

a:visited {
  text-decoration: inherit;

}


/* --- Title Section---*/
#title {
  color: #fff;
  text-align: left;
}

.head-img {
 
  position: relative;
  overflow: hidden;
  right: 0;
 
 
}

.logo-mobile {
  display: none;
}

.headline {
  width: 80%;
  margin-left: 10%;
}

#title {

  background-color: #111929;
}

.problema-nao-fazer-inventario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
}

.title-heading {
  
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  width: 22.5%;
  position: absolute;
  right: 20%;

}

.o-que-inventario {
  width: 90%;
  margin: 5%;
}

.inventario-o-que-title {
  color: #050e1f;
}

.white-section .inventario-o-que-title {
  color: #050e1f;
}

.strong {
  font-family: 'Bebas Neue', sans-serif;
 
  font-weight: 400;
}





/* Features */
#features {
  position: relative;
  z-index: 1;
}

.problemas-lista {
  font-size: 26px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lista-head {
  font-size: 22px;
  font-style: bold;
}

.problemas-lista li {
  margin: 1em;
  width: 75%;
}

.feature-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.fas-feat {
  color: #050e1f;
  margin-bottom: 1.5rem;
}

.fas-feat:hover {
  color: #f1d67f;
}

.feature-box {
  padding: 4.5%;
}

.btn-fazer {
  color: #f1d67f;
}

/* Testimonials */
#testimonials {
  background-color: #fff;
}

.testimonial-text {
  color: #050e1f;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-control-prev {
  color: #050e1f;
}

/* Press */
#press {
  background-color: #050e1f;
  padding-bottom: 3%;
}

.press-img {
  margin: 20px 20px 50px;
  width: 15%;
}



/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-title {
  color: #f1d67f;
  font-size: 2rem;
  display: block;
 
  line-height: 1.5;
  font-weight: bold;
  padding: 70px 0 0 70px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
.cta-heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: bold;
  color: #111929;
  margin: 60px;
}

.btn-cta {
  color: #111929;
 border: solid 1px #050e1f;;
}

.btn-cta:hover {
  color: #050e1f;
 border: solid 1px #050e1f;
 background-color: #f1d67f;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #050e1f;
  color: #ffff;
  border: 1px solid #f1d67f;
  

}
.cards {
  display: flex;
  flex-direction: row;
  gap: 5em;
  padding: 7% 15%;
}
.card-escritorio {
  color: #f1d67f;
}

.card-body {
  font-weight: 400;
}

.card-title {
  color: #f1d67f;
  font-size: 26px;
}
.card-row {
  width: 50%;
  gap: 2em;
}

/* Footer */
#footer {
  padding: 5% 7% 0;
}

.Copyright {
  margin-bottom: 0;
}
#footer {
  display: flex;
  flex-direction: row;
}

.creditos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.footer-logo {
  margin: 0 1% 3%;
  color: #f1d67f;
 
}

.footer-logo .fab {
  cursor: pointer;
}
.footer-logo:hover {
  cursor: pointer;
  color: #ffff
}

.footer-logo {
  margin-right: auto;
  margin-left: auto;
}

.footer-logo .Copyright {
  display: inline-block;
  width: fit-content;
 
}

.whatsapp-float {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 5%;
  margin-top: 30px;
  background-color: #050e1f;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transform: scale(1.6);
  padding: 10px 20px;
}

.whatsapp-icon {
  position: relative;
  right: 70%;
  bottom: 15%;
}
.whatsapp-icon:hover {
  color: #f1d67f;
 
}

.whatsapp-float:hover {
  box-shadow: 2px 2px 3px #f1d67f;
}

/* media query  pode alterar o 'viewport' que é o que vc vê na tela. Isso é bom pra ajeitar pra celular*/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .head-img {
    display: none;
  }
  .logo {
    display: none;
  }
  .title-image {
    transform: rotate(0);
    position: static;
    width: auto;
  }
  .title-info {
    
    width: auto;
   
  }
  .logo-mobile {
    display: block;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Animações */
@keyframes titleAnimation {
  100% {
    opacity: 1;
    }

0% {
    opacity: 0;
    }

  
}